<p align="center">
  <img src="https://raw.githubusercontent.com/gracekitonyi-bit/gracekitonyi-bit-daily-reports/main/AIMS_Logo.jpeg"
       alt="AIMS Logo" width="400"/>
</p>

<p align="center"><b>AFRICAN INSTITUTE FOR MATHEMATICAL SCIENCES – AIMS-RWANDA</b></p>
<hr>

<h2 align="center">
Help, Variables, Expressions & Statements
</h2>
<hr>

<p align="center">September 24, 2025</p>

# ASSIGNMENT 1

## 1 Getting help in python
Start the Python interpreter and type help() to start the online help utility. Or you can type
help(print) to get information about the print function. When finished with the help utility,
type quit at the prompt to return to the interpreter.

In [47]:
help()

Welcome to Python 3.13's help utility! If this is your first time using
Python, you should definitely check out the tutorial at
https://docs.python.org/3.13/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To get a list of available
modules, keywords, symbols, or topics, enter "modules", "keywords",
"symbols", or "topics".

Each module also comes with a one-line summary of what it does; to list
the modules whose name or summary contain a given string such as "spam",
enter "modules spam".

To quit this help utility and return to the interpreter,
enter "q", "quit" or "exit".

help>  print

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

help>  print

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

help>  quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

## 2 Doing calculation the python way
1. Assume that we execute the following assignment statements:
   
width = 17

height = 12.0

delimiter = ’.’

For each of the following expressions, write the value of the expression and the type (of
the value of the expression).

a) width/2

b) width/2.0

c) height/3

In [48]:
width = 17
height = 12.0
delimiter = "."

a) width/2

In [49]:
width/2

8.5

In [50]:
a=17/2

In [51]:
print(a)

8.5

In [52]:
type(a)

float

b) width/2.0

In [53]:
x=width/2.0

In [54]:
print(type(x))

<class 'float'>

c) height/3

In [55]:
height/3

4.0

In [56]:
type(height)

float

d) 1 + 2 * 5

In [57]:
d=1 + 2 * 5
d

11

In [58]:
type(d)

int

In [59]:
delimiter * 5

'.....'

In [60]:
type(delimiter)

str

Use the Python interpreter and the type function to check your answers

2. Practice using the Python interpreter as a calculator:
The volume of a sphere with radius r is $\frac{4}
{3}
πr^3$
. What is the volume of a sphere with radius
$5$?

In [61]:
import math

In [62]:
math.pi

3.141592653589793

In [63]:
r = 5
volume = (4/3) * math.pi * r**3
print(volume)

523.5987755982989

## 3 Knowing more about data types and their operations

Assign variables with the values 1, 5, and "ten" with the types int, float, and string respectively.
1. Confirm that the types are int, float.

In [64]:
a=1
b=5.0
c="ten"

In [65]:
print(type(a))

<class 'int'>

In [66]:
print(type(b))

<class 'float'>

In [67]:
print(type(c))

<class 'str'>

2. Determine for which of the following pairs of the set of int, float, and str, the +
operation gives an error.

(i) int-int

(ii) int-float

(iii) float-float

(iv) float-str

(v) str-str

Any surprises?

In [68]:
i=2
f=2.0
s="string"
print(type(f))
print(type(i))
print(type(s))

<class 'float'>
<class 'int'>
<class 'str'>

In [69]:
2+2

4

In [70]:
2+2.0

4.0

In [71]:
2.0+2.0

4.0

In [72]:
2.0+"string"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
"string"+"string"

The main surprise is float + str (or int + str) — Python does not allow adding numbers to strings directly. You must explicitly convert the number to a string first:

3. Repeat 2. with the *, -, /, %, <, >, >=, <= and == operators. Any surprises?

Multiplication *

In [ ]:
a=1
b=2.0
c="3"

In [ ]:
print(type(a))
print(type(b))
print(type(c))

In [ ]:
1*1

In [ ]:
2.0*1

In [ ]:
2.0*2.0

In [ ]:
2.0*"3"

In [ ]:
"3"*"3"

Multiplying a string by an integer repeats it.

Multiplying by a float or another string is not allowed.

This is a surprise because mathematically, multiplication of strings doesn’t make sense, but Python treats it as repetition.

subtraction -

In [ ]:
# int - int
a, b = 5, 3
res = a - b
print(res, type(res))  # 2 <class 'int'>

In [ ]:
# int - float
a, b = 5, 3.0
res = a - b
print(res, type(res))  # 2.0 <class 'float'>

In [ ]:
# float - float
a, b = 5.0, 3.0
res = a - b
print(res, type(res))  # 2.0 <class 'float'>

In [ ]:
# float - str
a, b = 5.0, "3"
res = a - b
print(res, type(res))

In [ ]:
# str - str
a, b = "5", "3"
res = a - b
print(res, type(res))

Division /

In [ ]:
# int / int
a, b = 5, 3
res = a / b
print(res, type(res))

In [ ]:
# int / float
a, b = 5, 3.0
res = a / b
print(res, type(res))

In [ ]:
# float / float
a, b = 5.0, 3.0
res = a / b
print(res, type(res))

In [ ]:
# float / str
a, b = 5.0, "3"
res = a / b
print(res, type(res))

In [ ]:
# str / str
a, b = "5", "3"
res = a / b
print(res, type(res))

Modulus %

In [ ]:
# int % int
a, b = 5, 3
res = a % b
print(res, type(res))

In [ ]:
# int % float
a, b = 5, 3.0
res = a % b
print(res, type(res))

In [ ]:
# float % float
a, b = 5.0, 3.0
res = a % b
print(res, type(res))

In [ ]:
# float % str
a, b = 5.0, "3"
res = a % b
print(res, type(res))

In [ ]:
# str % str (formatting)
a, b = "Hello %s", "World"
res = a % b
print(res, type(res))

In [ ]:
# str % str (invalid)
a, b = "Hello", "World"
res = a % b
print(res, type(res))

Comparison <, >, >=, <=

Less than <

In [ ]:
# int < int
a, b = 5, 3
res = a < b
print(res, type(res))

In [ ]:
# int < float
a, b = 5, 3.0
res = a < b
print(res, type(res))

In [ ]:
# float < float
a, b = 5.0, 3.0
res = a < b
print(res, type(res))

In [ ]:
# float < str
a, b = 5.0, "3"
res = a < b
print(res, type(res))

In [ ]:
# str < str
a, b = "apple", "banana"
res = a < b
print(res, type(res))

Greater than >

In [ ]:
# int > int
a, b = 5, 3
res = a > b
print(res, type(res))

In [ ]:
# int > float
a, b = 5, 3.0
res = a > b
print(res, type(res))

In [ ]:
# float > float
a, b = 5.0, 3.0
res = a > b
print(res, type(res))

In [ ]:
# float > str
a, b = 5.0, "3"
res = a > b
print(res, type(res))

In [ ]:
# str > str
a, b = "apple", "banana"
res = a > b
print(res, type(res))

Less than or equal <=

In [ ]:
# int <= int
a, b = 5, 3
res = a <= b
print(res, type(res))

In [ ]:
# int <= float
a, b = 5, 3.0
res = a <= b
print(res, type(res))

In [ ]:
# float <= float
a, b = 5.0, 3.0
res = a <= b
print(res, type(res))

In [ ]:
# float <= str
a, b = 5.0, "3"
res = a <= b
print(res, type(res))

In [ ]:
# str <= str
a, b = "apple", "banana"
res = a <= b
print(res, type(res))

Equality ==

In [ ]:
# int == int
a, b = 5, 3
res = a == b
print(res, type(res))

In [ ]:
# int == float
a, b = 5, 5.0
res = a == b
print(res, type(res))

In [ ]:
# float == float
a, b = 5.0, 3.0
res = a == b
print(res, type(res))

In [ ]:
# float == str
a, b = 5.0, "5"
res = a == b
print(res, type(res))

In [ ]:
# str == str
a, b = "5", "5"
res = a == b
print(res, type(res))

Numeric operations (+, -, *, /, %) fail if you mix numbers with strings.

String operations (+, *) behave differently (concatenation or repetition).

Comparisons can work for strings alphabetically.

Equality == is safe for all types.

4. Read the output of help(int), help(float) to know more about these data types

In [ ]:

help(int)

In [ ]:
help(float)

## 4 About Random number generator

Investigate how python generates random numbers.

In [ ]:
import random

Generating random numbers

a) Random float between 0 and 1

In [ ]:
num = random.random()#random.random() returns a float in [0.0, 1.0).
print(num)

b) Random integer in a range

In [ ]:
#Randint(a, b) returns an integer a ≤ N ≤ b.
num = random.randint(1, 10)
print(num)  # random integer between 1 and 10 (inclusive)

c) Random float in a range

In [ ]:
#uniform(a, b) returns a float in [a, b]
num = random.uniform(1, 10)
print(num)  # float between 1.0 and 10.0

d) Random choice from a list

In [ ]:
colors = ["red", "green", "blue"]
choice = random.choice(colors)
print(choice)  # randomly selects one element

e) Shuffle a list randomly

In [ ]:
numbers = [1, 2, 3, 4, 5]
random.shuffle(numbers)
print(numbers)  # list order changed randomly

f) Random sample from a list (without replacement)

In [ ]:
numbers = [1, 2, 3, 4, 5]
sample = random.sample(numbers, 3)
print(sample)  # 3 unique elements randomly selected

## 5 More on data types

Here you will use $math.log10()$ and $math.floor()$, which require the line import math for you
to access these functions. For these two functions, determine their value and data type.

1. What is the value and type of $log10(42)$?

In [ ]:
import math

In [ ]:
val = math.log10(42)
print(val)
print(type(val))

2. What is the value and type of $log10(0.32)$?

In [ ]:
import math

In [ ]:
val = math.log10(0.32)
print(val)
print(type(val))

3. What is the return type of floor acting on an int?
   
   Acting on a float?
   
   floor is in the math namespace.
   
   It will work only after import math and it is invoked as math.floor().

In [ ]:
import math

val = math.floor(42)
print(val) 
print(type(val))

In [ ]:
import math

val = math.floor(42.9)
print(val) 
print(type(val))

4. len() is a builtin function to count the length of things. For which of the basic data types
so far does len() return a value? Does it return the length or the length+1?

1. For int

In [ ]:
len(42)
#Error → TypeError: object of type 'int' has no len()
 An integer is a single number, not a sequence, so it has no length.

2. For float

In [ ]:
len(3.14)
#Error → TypeError: object of type 'float' has no len()
A float is also just a single value.

3. For str

In [ ]:
len("hello")

len() returns a value for strings (and other collections), giving the exact length of the object, not length + 1.

5. Write an expression to determine the number of digits in a non-negative integer. Hint:
maybe $len()$ or $math.log()$ might be useful here.

Approach 1: Using len()

In [ ]:
#We can convert the integer to a string and count its characters.
n = 12345
num_digits = len(str(n))
print(num_digits)   # Output: 5

Approach 2: Using math.log10()

In [ ]:
digits = math.log10(12345) + 1

In [ ]:
print(digits)